{% extends 'SiteFrontBundle::layout.html.twig' %}

{% block title %}
<title>{{ page.title }}</title>
{% endblock %}
{% block reght %}
</div><!--end of grid-10--> 
                
                
                <div class="grid-6 grid grey">
                            <h2>Категории</h2>
                            <p class="quote">Категории</p>
            				<p class="quote">Теги</p>
                </div>
{% endblock %}
{% block body %}
	{% if page %}
			<p><h3>{{ page.title }}</a></h3></p><p>{{ page.content }}</p>

	{% endif %}
{% endblock %}
